<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<p> Inserta un nuevo cliente  </p>
	
	<form action="#" th:action = "@{/cliente2/agregarCliente}"   th:object = "${cliente2_form}" method = "post">
		<p>name <input type="text" th:field = "*{name}"/></p>
		<p>address <input type="text" th:field = "*{address}"/></p>
		<p>email <input type="text" th:field = "*{email}"/></p>
		<p>phone <input type="text" th:field = "*{phone}"/></p>
		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	</form>

</body>
</html>